RewriteEngine On

Options -MultiViews
RewriteBase /

RewriteRule ^contemporaneo/?$ View/Contemporaneo/central_contemporaneo.php [L]
RewriteRule ^classico/?$ View/Classico/central_classico.php [L]
RewriteRule ^expedicao/?$ View/Expedicao/central_expedicao.php [L]

RewriteCond %{REQUEST_URI} !^/(contemporaneo/classico/expedicao)/?$ 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]