
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container-geral {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-top: 8px solid #db8534;
}

button{
    border-radius: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #f9f9f9;
}

strong {
    color: #db8534;
    font-weight: 600;
}

p:first-of-type {
    background-color: #fff8f2;
    padding: 10px;
    border-radius: 8px;
    border: 1px dashed #db8534;
}

@media (max-width: 350px) {
    p {
        flex-direction: column;
        text-align: center;
    }
}